body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 1em;
}

section {
    padding: 4em 0;
}

.list-inline-item {
    margin-right: 1em;
    font-size: 1.1em;
}

footer {
    padding: 1em 0;
}
